.place__website {
  text-align: left;
  align-self: end;
  width: 100%;
}

@media screen and (max-width: 460px) {
  .place__website {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    width: calc(100% - 32px);
    margin-left: 16px;
  }
}
